<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="theme-color" content="#ffffff" />

  <meta name="description" content="WHITEROCK Capital" />
  <meta name="keywords" content="whiteblock, white block, white, block, capital, investment, crypto, cryptocurrency, investing, tech" />
  <meta property="og:url" content="http://whiteblock.tech/" />
  <meta property="og:site_name" content="WHITEROCK Capital" />
  <meta property="og:title" content="WHITEROCK Capital" />
  <meta property="og:description" content="WHITEROCK Capital" />
  <meta property="og:type" content="website" />

  <meta name="twitter:site_name" content="WHITEROCK Capital" />
  <meta name="twitter:title" content="WHITEROCK Capital" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="WHITEROCK Capital" />


  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div id="root"></div>
</body>

</html>